doctype html
html(lang="en")
    head
        title Logs

        link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css")

        script(type="text/javascript", src="//code.jquery.com/jquery-2.1.3.min.js")
        script(type="text/javascript").
            var toggleDetails = function (i) {
                var currentElement = $('#details-' + i);
                if (currentElement.hasClass('hide')) {
                    $('.details').addClass('hide');
                    $('#details-' + i).removeClass('hide');
                } else {
                    $('#details-' + i).addClass('hide');
                }
            };

    body
        div.container
            h1 Logs
            table.table.table-condensed
                thead
                    tr
                        th Level
                        th Message
                        th Timestamp
                        th
                tbody
                each log, i in logs
                    tr
                        td= log.level
                        td= log.message
                        td= log.timestamp
                        td
                            a(onclick="toggleDetails("+i+")")= "details"
                    tr.hide.details(id="details-" + i)
                        td(colspan=4)
                            each value, key in log
                                if key != 'level' && key != 'message' && key != 'timestamp'
                                    div
                                        strong= key
                                        div(style="word-wrap: break-word;")= JSON.stringify(value)
            nav
                ul.pagination
                    if prevPage
                        li
                            a(href='/logs/' + prevPage)= 'prev'
                    li
                        a(href='/logs/' + nextPage)= 'next'
